@import "/assets/styles/styles.module.scss";

.container {
  color: var(--color-text-primary, $white);
  font-weight: bold;
  background-color: var(--color-bg-light, $darkLight);
  padding: spacing(2);
  border-radius: spacing(2);
  transition: background-color 0.3s ease, color 0.3s ease;
  @media (max-width: 650px) {
    text-align: center;
  }
}

.description {
  color: var(--color-text-primary, $white);
  font-weight: 400;
  font-size: spacing(2);
  transition: color 0.3s ease;
}
