@import "/assets/styles/styles.module.scss";

.container{
  color:$white;
  font-weight: bold;
  background-color: $darkLight;
  padding: spacing(2);
  border-radius: spacing(2);
}

.description{
  color:$white;
  font-weight: 400;
  font-size: spacing(2);
}