@import "/assets/styles/styles.module.scss";

.root {
  padding: spacing(0);
  color: var(--color-text-primary, $white);
  background-color: var(--color-bg-strong, $darkStrong);
  font-size: spacing(4);
  font-weight: bold;
  text-align: center;
  padding-top: spacing(4);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.titleContainer {
  width: 100%;
  padding: 0 spacing(4) spacing(4) spacing(4);
}

.title {
  color: var(--color-accent-blue, $blue);
  transition: color 0.3s ease;
  font-size: spacing(4);
  font-weight: bold;
  margin: 0;
  display: inline;
}

.titleSecondary {
  color: var(--color-accent-green-dark, $greenDark);
  transition: color 0.3s ease;
}

.gridContainer{
  align-items: center;
  justify-content: center;
}