@import "/assets/styles/styles.module.scss";

.root {
  padding: spacing(0);
  color: $white;
  background-color: $darkStrong;
  font-size: spacing(4);
  font-weight: bold;
  text-align: center;
  padding-top: spacing(4);
}

.titleContainer {
  width: 100%;
  padding: 0 spacing(4) spacing(4) spacing(4);
}

.title {
  color: $blue;
}

.titleSecondary {
  color: $greenDark;
}

.gridContainer{
  align-items: center;
  justify-content: center;
}