.mainContainer,
.secondaryContainer,
.keyboardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mainContainer {
  position: relative;
  transform: translateX(50px);
}

.button {
  position: absolute;
  transform: translateX(25px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 0;
  border-radius: 50%;
  background: #63ecdc;
  box-shadow: -6px 6px 16px #23877b, 6px -6px 16px #3effe8;
  cursor: pointer;
  &:hover {
    background: linear-gradient(225deg, #36b9a9, #40dbc9);
    box-shadow: -6px 6px 16px #31a698, 6px -6px 16px #47f4e0;
  }
  &:active {
    background: #3ccdbc;
    box-shadow: inset -6px 6px 16px #31a698, inset 6px -6px 16px #47f4e0;
  }
}

.keyCap {
  position: relative;
  width: 100px;
  top: 10px;
  height: 100px;
  background-color: rgb(201, 254, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 5;
  text-shadow: 0 0 2px #014c3d;
  transition: background-color 0.1s ease-out;
  & p {
    color: rgb(227, 213, 55);
    animation: rgbKey 4s linear 0s infinite;
  }
}

.keyLeft,
.keyRight {
  position: relative;
  width: 25px;
  border-radius: 5px;
}

.keyLeft {
  left: 10px;
  background-color: rgb(143, 211, 183);
  height: 140px;
}

.keyRight {
  right: 10px;
  background-color: rgb(143, 211, 183);
  height: 140px;
}

.keyBottom {
  position: absolute;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
  width: 130px;
  max-height: 35px;
  left: 10px;
  bottom: 0;
  border-radius: 5px;
  background-color: rgb(89, 132, 114);
  height: 40px;
}

.keyTop {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
  width: 130px;
  max-height: 35px;
  left: 10px;
  top: 0px;
  border-radius: 5px;
  background-color: rgb(89, 132, 114);
  height: 20px;
}

.keyContainer {
  display: flex;
  position: relative;
  transition: transform 0.1s ease-out;
  &:hover {
    transform: translateY(10px);
    .keyCap {
      background-color: rgb(165, 229, 197);
    }
  }
}

.keyboardBottom {
  position: absolute;
  width: 100%;
  background-color: rgb(44, 57, 55);
  height: calc(100% + 25px);
  border-radius: 8px;
  bottom: -15px;
}

.keyboardContainer {
  position: absolute;
  width: calc(100% + 150px);
  left: -130px;
  background-color: rgb(202, 234, 220);
  height: calc(100% + 70px);
  border-radius: 8px;
  bottom: -40px;
  &:after {
    content: "";
    position: absolute;
    width: calc(100%);
    left: 0px;
    background-color: rgb(83, 117, 103);
    height: 30px;
    border-radius: 16px;
    bottom: -10px;
    z-index: -1;
  }
}

@keyframes rgbKey {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
