@import "./themes.scss";

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  background-color: var(--color-bg-light, #2b2b2c);
  color: var(--color-text-primary, #f7f7f7);
  transition: background-color 0.3s ease, color 0.3s ease;
}
