@import "/assets/styles/styles.module.scss";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(3);
}

.images {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

.text {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
}