@import "/assets/styles/styles.module.scss";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: spacing(3);
}

.keyboardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

