@import "/assets/styles/styles.module.scss";

.container {
  padding: spacing(2);
  font-size: spacing(2.5);
  color: var(--color-accent-purple, $purple);
  font-weight: 400;
  transition: color 0.3s ease;
}

.innerContainer {
  overflow: hidden;
  border: 2px solid var(--color-accent-green, $green);
  border-radius: spacing(4);
  cursor: pointer;
  background-color: var(--color-bg-light, $darkLight);
  padding-bottom: spacing(1);
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &.noPopup {
    cursor: default;
  }
}

.image {
  border-radius: spacing(2);
  width: 100%;
}

.noImageContainer {
  padding: spacing(3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}