@import "/assets/styles/styles.module.scss";

.container {
  padding: spacing(2);
  font-size: spacing(2.5);
  color: $purple;
  font-weight: 400;
}

.innerContainer {
  overflow: hidden;
  border: 2px solid $green;
  border-radius: spacing(4);
  cursor: pointer;
  background-color: $darkLight;
  padding-bottom: spacing(1);

  &.noPopup {
    cursor: default;
  }
}

.image {
  border-radius: spacing(2);
  width: 100%;
}

.noImageContainer {
  padding: spacing(3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}