@import "./mixins.module.scss";
@import "./variables.module.scss";
@import "./functions.module.scss";
@import "./typography.module.scss";

.colorMain {
  color: $colorMain;
}

.colorImport {
  color: $purple;
}

.colorWhite {
  color: $white;
}

.colorYellow {
  color: $yellow;
}

.colorBlue {
  color: $blue;
}
.colorBlueLight {
  color: $blueLight;
}
