$baseSpacing: 6;

/* background colors */
$darkMain: #222222;
$darkStrong: #191919;
$darkLight: #2b2b2c;
$white: #f7f7f7;
$whiteDark: #858585;
$blue: #487bc7;
$blueLight: #b1dcfb;
$comment: #7a975c;
$green: #84c7ad;
$greenDark: #4f6450;
$red: #dc8374;
$redDark: #6c4842;
$purple: #b589bd;
$yellow: #dbdbaf;

/* font colors */
$colorMain: $whiteDark;
$colorSecondary: $blueLight;
$colorComponent: $green;
