@import "/assets/styles/styles.module.scss";

.root {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fira Code", monospace;
  padding-top: spacing(12);
  padding-bottom: spacing(10);
  padding-left: spacing(3);
  padding-right: spacing(3);
  background-color: var(--color-bg-main, $darkMain);
  color: var(--color-text-secondary, $colorMain);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header {
  font-size: spacing(6);
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--color-component, $colorComponent);
  transition: color 0.3s ease;
  @media (max-width: 570px) {
    padding-top: 0;
  }
}

.subheader {
  font-weight: 400;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: "50%";
  object-fit: "cover";
  margin-bottom: 10px;
}

.propsText {
  font-family: "Fira Code", monospace;
  color: var(--color-accent-blue-light, $colorSecondary);
  transition: color 0.3s ease;
}

.keysContainer {
  position: relative;
  display: flex;
}
