@import "/assets/styles/styles.module.scss";

.container {
  display: flex;
  flex-direction: column;
}

.jobContainer{
  display: flex;
}

.header{
  width: 45%;
  text-align: right;
  padding-right: spacing(2);
}

.icon{
  width: 5%;
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.job{
  padding-left: spacing(2);
  width: 45%;
  padding-bottom: spacing(2);
}