@import "/assets/styles/styles.module.scss";

.root {
  padding: spacing(3);
  text-align: justify;
  background-color: var(--color-bg-main, $darkMain);
  color: var(--color-text-primary, $white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
}

.jobContainer {
  display: flex;
  @media (max-width: 650px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header {
  width: 45%;
  text-align: right;
  padding-right: spacing(2);
  @media (max-width: 650px) {
    width: 100%;
    margin-bottom: spacing(1);
    text-align: center;
  }
}

.icon {
  width: 5%;
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 650px) {
    width: 0;
  }
}

.job {
  padding-left: spacing(2);
  width: 45%;
  padding-bottom: spacing(2);
  @media (max-width: 650px) {
    width: 100%;
    padding: 0;
    margin-bottom: spacing(2);
  }
}

.downArrow {
  transform: rotate(180deg);
  margin-bottom: spacing(2);
}
