@import "/assets/styles/styles.module.scss";

.root {
  display: inline-block;
  color: var(--color-accent-yellow, $yellow);
  font-weight: 400;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .root {
    animation: none;
    opacity: 1;
  }
}
